// *************************************
//
//   Flex Showcase
//   -> For Showcasing Work
//
// -------------------------------------
//   Template (Haml)
// -------------------------------------
//
// .flex-showcase[.flex--flag]
//   .flex-item
//
// *************************************

.flex-showcase {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;


  @include from('tablet') {
    flex-direction: row;
    height: 500px;

    &.reverse {
      flex-direction: row-reverse;
    }
  }
}

.showcase-item {
  padding-top: 3rem;

  @include from('tablet') {
    padding-top: 0;
  }
}

.showcase-image {
  @extend .showcase-item;
  align-self: flex-end;
  position: relative;
  text-align: center;

  @include from('tablet') {
    img {
      max-width: none;
    }
  }

  &.gemeindeapp {
    @include between('tablet', 'widescreen') {
      align-self: flex-start;
      img {
        position: absolute;
        right: 20px;
        top: 37px;
      }
    }
  }

  &.dillinger {
    @include between('tablet', 'widescreen') {
      align-self: flex-start;
      img {
        position: absolute;
        right: 20px;
        top: 80px;
      }
    }
  }
}
