.header {
  text-align: center;
  // min-height: 300px;
  height: 300px;
  overflow: hidden;
  position: relative;

  // &:after {
  //   position: absolute;
  //   top: 0;
  //   left: 0;
  //   height: 100%;
  //   width: 100%;
  //   background-color: rgba(map-get(map-get($c, background), gemeindeapp), .9);
  //   content: "";
  // }


  @include from('tablet') {
    min-height: 500px;
  }

  @include from('desktop') {
    min-height: 700px;
    height: 700px;
  }

  &.index {
    background-color: #a4c2c8;
    background-image: url(img/martin-broder-small.jpg);
    background-repeat: no-repeat;
    background-position: -220px center;
    background-size: cover;
    height: 392px;

    @include from('mobile') {
      min-height: 500px;
      background-position: 120px center;
    }

    @include from('tablet') {
      background-image: url(img/martin-broder-middle.jpg);
      background-position: -200px center;
    }

    @include from('desktop') {
      background-image: url(img/martin-broder.jpg);
      background-size: 1200px auto;
      background-position: -300px center;
      min-height: 700px;
      height: 700px;
    }

    @include from('widescreen') {
      background-position: -200px center;
    }

    @media screen and (min-width: 1700px) {
      background-position: 30% center;
    }
  }

  &.dillinger {
    background-color: #394154;
    height: 400px;
  }

  &.birthdaysuits {
    background-color: map-get(map-get($c, background), birthdaysuits);
    height: 400px;
  }

  &.gemeindeapp {
    background-color: map-get(map-get($c, background), gemeindeapp);
    height: 400px;
  }

  > .page {
    position: relative;
  }

  .me {
    position: absolute;
    z-index: 1;
    top: 70px;
    left: 110px;
    width: 700px;

    h1 {
      // font-family: map-get($bodytype, font-family);
      font-style: normal;
      font-weight: 600;
    }

    h1,
    p {
      font-size: 28px;
      line-height: 2rem;
      text-align: left;
      color: #fff;
      font-family: $base-font-family-serif;
    }

    span {
      display: block;
    }

    p {
      font-style: italic;
    }

    @media screen and (min-width: 400px) {
      left: inherit;
      right: -480px;
      top: 100px;

      h1,
      p {
        font-size: 32px;
        line-height: 2.5rem;
      }
    }

    @include from('mobile') {
      top: 90px;
      right: -320px;

      h1,
      p {
        font-size: 38px;
        line-height: 3rem;
      }
    }


    @media screen and (min-width: 550px) {
      left: inherit;
      right: -250px;
    }

    @include from('tablet') {
      top: 160px;
      right: -320px;

      span {
        display: inline;
      }

      h1,
      p {
        font-size: 42px;
      }
    }

    @include from('desktop') {
      top: 240px;
      right: -200px;

      span {
        display: inline;
      }

      h1,
      p {
        font-size: 50px;
      }

    }
  }

}
