.header {
  text-align: center;
  min-height: 300px;
  height: 90vh;
  overflow: hidden;
  position: relative;

  // &:after {
  //   position: absolute;
  //   top: 0;
  //   left: 0;
  //   height: 100%;
  //   width: 100%;
  //   background-color: rgba(map-get(map-get($c, background), gemeindeapp), .9);
  //   content: "";
  // }


  @include from('tablet') {
    min-height: 500px;
  }

  @include from('desktop') {
    min-height: 700px;
    height: 700px;
  }

  &.index {
    background-color: #c0cfd4;
    background-image: url(img/martin-broder-small.jpg);
    background-repeat: no-repeat;
    background-position: left center;
    background-size: cover;

    @media screen and (min-width: 480px) and (min-height: 320px) {
      background-position: 120px center;
    }

    @include from('tablet') {
      background-image: url(img/martin-broder-middle.jpg);
      background-position: -200px center;
      background-size: 1000px auto;
    }

    @media screen and (min-width: 1024px) and (min-height: 600px) {
      background-position: -360px center;
    }

    @media screen and (min-width: 600px) and (min-height: 1024px) {
       background-position: left center;
       background-size: 1400px auto;
    }

    @include from('desktop') {
      background-image: url(img/martin-broder.jpg);
      min-height: 700px;
      height: 700px;
      background-position: -200px center;
      background-size: 1300px auto;
    }

    @media screen and (min-width: 1024px) and (max-height: 768px) {
       background-position: -380px center;
    }

    @media screen and (min-width: 1200px) and (min-height: 1920px) {
      background-position: -300px center;
    }

    @media screen and (min-width: 1920px) and (min-height: 1200px) {
      background-position: 25% center;
    }
  }

  &.dillinger {
    background-color: #394154;
    background-image: none;
    height: 400px;
  }

  &.birthdaysuits {
    background-color: map-get(map-get($c, background), birthdaysuits);
    background-image: none;
    height: 400px;
  }

  &.gemeindeapp {
    background-color: map-get(map-get($c, background), gemeindeapp);
    background-image: none;
    height: 400px;
  }

  > .page {
    position: relative;
  }

  .me {
    position: absolute;
    z-index: 1;
    top: 120px;
    right: -420px;
    width: 700px;

    h1 {
      font-family: map-get($bodytype, font-family);
    }

    h1,
    p {
      font-size: 24px;
      line-height: 2rem;
      text-align: left;
      color: #fff;
    }

    span {
      display: block;
    }

    @media screen and (min-width: 375px) {

      top: 140px;
      right: -380px;

      h1,
      p {
        font-size: 32px;
        line-height: 1.3em;
      }
    }

    @media screen and (min-width: 414px) {

      top: 160px;
      right: -340px;

      h1,
      p {
        font-size: 32px;
        line-height: 1.3em;
      }
    }

    @media screen and (min-width: 480px) and (min-height: 320px) {
      top: 50px;
      right: -300px;
    }

    @media screen and (min-width: 720px) and (min-height: 1280px) {

      top: 300px;
      right: -220px;

      h1,
      p {
        font-size: 62px;
        line-height: 1.3em;
      }
    }

    @media screen and (min-width: 1200px) and (min-height: 1920px) {

      top: 300px;
      right: -220px;

      h1,
      p {
        font-size: 62px;
        line-height: 1.3em;
      }
    }

    @include from('tablet') {
      top: 200px;
      right: -380px;

      span {
        display: inline;
      }

      h1,
      p {
        font-size: 32px;
      }
    }

    @media screen and (min-width: 600px) and (min-height: 1024px) {
      top: 270px;
      right: -70%;

      span {
        display: block;
      }

      h1,
      p {
        font-size: 50px;
        line-height: 1.3em;
      }
    }

    @media screen and (min-width: 768px) and (min-height: 1024px) {
      top: 270px;
      right: -10%;
    }

    @include from('desktop') {
      top: 240px;
      right: -200px;

      span {
        display: inline;
      }

      h1,
      p {
        font-size: 50px;
      }

    }
  }

}
