// *************************************
//
//   Maxwidth
//   -> Width-spanning blocks
//
// -------------------------------------
//   Template (Haml)
// -------------------------------------
//
// .maxwidth[.row--a|b]
//   / ...
//
// *************************************

.splitted {

  @include from('desktop') {
    columns: 2;
    column-gap: 20px;

    p {
      padding: 0;
    }
  }

}
