// *************************************
//
//   Introduction
//   -> This is an example introduction
//
// -------------------------------------
//   Template (Haml)
// -------------------------------------
//
// .introduction[.introduction--modifier](.is-state)(.has-context)
//   .introduction-scaffolding
//
// *************************************

.introduction {
  margin-top: 2rem;
  margin-bottom: 2rem;

  @include from('tablet') {
    margin-bottom: 3rem;
    margin-top: 3rem;
  }
  @include from('desktop') {
    margin-bottom: 8rem;
    margin-top: 8rem;
  }
}

// -------------------------------------
//   Modifiers
// -------------------------------------

// .introduction--modifier

// -------------------------------------
//   States
// -------------------------------------

// .introduction.is-state

// -------------------------------------
//   Context
// -------------------------------------

// .has-introduction

// -------------------------------------
//   Scaffolding
// -------------------------------------

// .introduction-scaffolding
